<section class="content-header">
  <h1>
    Cycle
    <!--<small>Control panel</small>-->
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li class="active">Cycle</li>
  </ol>
</section>

<section class="content">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
            <button class="btn btn-success" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i></button>
            <div class="modal fade" id="addModal">
              <ngx-ui-loader fgsType="pulse" [loaderId]="'add-annee'"></ngx-ui-loader>
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title text-center">Ajouter un nouveau cycle</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body add-form">
                    <div class="row">
                      <div class="form-group">
                        <form class="form-group">
                          <div class="form-group row">
                            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <mat-label>Cycle : </mat-label>
                              <input name="cycle" matInput [(ngModel)]="cycle.libelle" />
                            </mat-form-field>
                          </div>
                          <div class="form-group row">
                            <button data-dismiss="modal" class="btn btn-primary pull-right" (click)="save()">Enregistrer</button>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 pull-right">
            <mat-form-field>
              <mat-label>Rechercher</mat-label>
              <input matInput type="text" name="recherche" (keyup)="search($event.target.value)" />
              <span class="form-control-feedback"><i class="fa fa-search"></i></span>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="box-body" style="position: relative">
        <ngx-ui-loader fgsType="three-bounce" [loaderId]="'cycle'"></ngx-ui-loader>
        <h4 *ngIf="cycles.length<=0">Aucun résultat trouvé. Veuillez ajouter un nouveau cycle SVP</h4>
        <table class="table table-striped" *ngIf="cycles.length > 0">
          <thead>
          <tr>
            <th>N°</th>
            <th>Cycle</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cycle of (cyclesFilter != null && cyclesFilter.length > 0 ? cyclesFilter : cycles)">
            <td>{{ (cyclesFilter != null && cyclesFilter.length > 0 ? cyclesFilter.indexOf(cycle) + 1 : cycles.indexOf(cycle) + 1)}}</td>
            <td>{{cycle.libelle}}</td>
            <td class="text-center">
              <button class="btn btn-primary"  (click)="onUpdate(cycle)" data-toggle="modal" data-target="#modifModal"><i class="fa fa-edit"></i>Modifier</button>
              <div class="modal fade" id="modifModal">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title text-center">Mettre à jour un cycle</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body add-form">
                      <div class="row">
                        <div class="form-group">
                          <form class="form-group">
                            <div class="form-group row">
                              <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <mat-label>Cycle : </mat-label>
                                <input name="anneeScolaire" matInput [(ngModel)]="updateCycle.libelle" />
                              </mat-form-field>
                            </div>
                            <div class="form-group row">
                              <button data-dismiss="modal" class="btn btn-primary pull-right" (click)="update()">Enregistrer</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              &nbsp;&nbsp;&nbsp;<button class="btn btn-danger" (click)="onDelete(annee)"><i class="fa fa-remove"></i>Supprimer</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</section>
