<section class="content-header">
  <h1>
    Année scolaire
    <!--<small>Control panel</small>-->
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li class="active">Année scolaire</li>
  </ol>
</section>

<section class="content">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <button class="btn btn-success" data-toggle="modal" data-target="#myModal3"><i class="fa fa-plus"></i></button>
        <div class="modal fade" id="myModal3">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title text-center">Ajouter une nouvelle année scolaire</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body add-form">
                <app-add></app-add>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <app-list></app-list>
      </div>
    </div>
  </div>
</section>
