<section class="content-header">
  <h1>
    Année scolaire
    <!--<small>Control panel</small>-->
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li class="active">Année scolaire</li>
  </ol>
</section>

<section class="content">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
       <div class="row">
         <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
           <button class="btn btn-success" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i></button>
           <div class="modal fade" id="addModal">
             <ngx-ui-loader fgsType="pulse" [loaderId]="'add-annee'"></ngx-ui-loader>
             <div class="modal-dialog">
               <div class="modal-content">

                 <!-- Modal Header -->
                 <div class="modal-header">
                   <h4 class="modal-title text-center">Ajouter une nouvelle année scolaire</h4>
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>
                 <!-- Modal body -->
                 <div class="modal-body add-form">
                   <div class="row">
                     <div class="form-group">
                       <form class="form-group">
                         <div class="form-group row">
                           <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <mat-label>Année scolaire : </mat-label>
                             <input name="anneeScolaire" matInput [(ngModel)]="anneeScolaire.annee" />
                           </mat-form-field>
                         </div>
                         <div class="form-group row">
                           <button data-dismiss="modal" class="btn btn-primary pull-right" (click)="save()">Enregistrer</button>
                         </div>
                       </form>
                     </div>
                   </div>

                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 pull-right">
           <mat-form-field>
             <mat-label>Rechercher</mat-label>
             <input matInput type="text" name="recherche" (keyup)="search($event.target.value)" />
             <span class="form-control-feedback"><i class="fa fa-search"></i></span>
           </mat-form-field>
         </div>
       </div>
      </div>
      <div class="box-body" style="position: relative">
        <ngx-ui-loader fgsType="three-bounce" [loaderId]="'liste-annee'"></ngx-ui-loader>
        <h4 *ngIf="anneeScolaires.length<=0">Aucun résultat trouvé. Veuillez ajouter une nouvelle année scolaire SVP</h4>
        <table class="table table-striped" *ngIf="anneeScolaires.length > 0">
          <thead>
          <tr>
            <th>N°</th>
            <th>Année scolaire</th>
            <th>Etat</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let annee of (anneeScolairesFilter != null && anneeScolairesFilter.length > 0 ? anneeScolairesFilter : anneeScolaires)">
            <td>{{anneeScolaires.indexOf(annee) + 1}}</td>
            <td>{{annee.annee}}</td>
            <td>{{annee.encours ? 'Année en cours' : 'non actif'}}</td>
            <td class="text-center">
              <mat-slide-toggle color="primary" [ngModel]="annee.encours" (ngModelChange)="!annee.encours ? onActive(annee) : onDesactive(annee)">
                <mat-label [ngClass]="{
        'text-success': !annee.encours,
        'text-danger': annee.encours
        }">{{!annee.encours ? 'Activer' : 'Désactiver'}}</mat-label>
              </mat-slide-toggle> &nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary"  (click)="onUpdate(annee)" data-toggle="modal" data-target="#modifModal"><i class="fa fa-edit"></i>Modifier</button>
              <div class="modal fade" id="modifModal">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title text-center">Mettre à jour une année scolaire</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body add-form">
                      <div class="row">
                        <div class="form-group">
                          <form class="form-group">
                            <div class="form-group row">
                              <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <mat-label>Année scolaire : </mat-label>
                                <input name="anneeScolaire" matInput [(ngModel)]="updateAnneeScolaire.annee" />
                              </mat-form-field>
                            </div>
                            <div class="form-group row">
                              <button data-dismiss="modal" class="btn btn-primary pull-right" (click)="update()">Enregistrer</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              &nbsp;&nbsp;&nbsp;<button class="btn btn-danger" (click)="onDelete(annee)"><i class="fa fa-remove"></i>Supprimer</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</section>
