<mat-card>
  <h1>
    Niveau
    <!--<small>Control panel</small>-->
  </h1>
  <ol class="breadcrumb text-right">
    <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li class="active">Niveau</li>
  </ol>
</mat-card>

<section class="content">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="box box-primary">
      <div class="box-header">
        <div class="row">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
            <button mat-fab color="primary" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i></button>
            <div class="modal fade" id="addModal">
              <ngx-ui-loader fgsType="pulse" [loaderId]="'add-annee'"></ngx-ui-loader>
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title text-center">Ajouter un nouveau Niveau</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body add-form">
                    <div class="row add-form">
                      <div class="form-group">
                        <form class="form-group">

                          <div class="form-group row">
                            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <mat-label>Niveau : </mat-label>
                              <input name="Niveau" matInput [(ngModel)]="niveau.libelle" />
                            </mat-form-field>
                          </div>

                          <div class="form-group row">
                            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <mat-label>Montant Inscription : </mat-label>
                              <input name="Montant" matInput [(ngModel)]="niveau.montantInscription" />
                            </mat-form-field>
                          </div>

                          <div class="form-group row">
                            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <mat-label>Montant Mensuel : </mat-label>
                              <input name="Mensuel" matInput [(ngModel)]="niveau.montantMensuel" />
                            </mat-form-field>
                          </div>

                         <div class="form-group row">
                            <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <mat-label>Cycle : </mat-label>
                              <input name="cyclelibelle" matInput [(ngModel)]="cycle.libelle" />
                            </mat-form-field>
                          </div>

                          <div class="form-group row">
                            <button data-dismiss="modal" mat-raised-button color="primary" class="pull-right" (click)="save()">Enregistrer</button>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 pull-right">
            <mat-form-field>
              <mat-label>Rechercher</mat-label>
              <input matInput type="text" name="recherche" (keyup)="search($event.target.value)" />
              <span class="form-control-feedback"><i class="fa fa-search"></i></span>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="box-body" style="position: relative">
        <ngx-ui-loader fgsType="three-bounce" [loaderId]="'niveau'"></ngx-ui-loader>
        <h4 *ngIf="listNiveau.length<=0"> Aucun résultat trouvé. Veuillez ajouter un nouveau Niveau SVP</h4>
        <table class="table table-striped" *ngIf="listNiveau.length>0">
          <thead class="bg-primary text-white">
          <tr>
              <th>N°</th>
              <th>Niveau</th>
              <th>Cycle</th>
              <th>Montant Inscription</th>
              <th>Montant Mensuel</th>
              <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let n of (listNiveauFilter != null && listNiveauFilter.length>0 ? listNiveauFilter : listNiveau)">
            <td>{{ (listNiveauFilter != null && listNiveauFilter.length > 0 ? listNiveauFilter.indexOf(n) + 1 : listNiveau.indexOf(n) + 1)}}</td>
            <td>{{n.libelle}}</td>
            <td>{{cycle.libelle}}</td>
            <td>{{n.montantInscription}}</td>
            <td>{{n.montantMensuel}}</td>
            <td class="text-center">
              <button mat-raised-button color="primary"  (click)="onUpdate(n)" data-toggle="modal" data-target="#modifModal"><i class="fa fa-edit"></i>&nbsp;Modifier</button>
              <div class="modal fade" id="modifModal">
                <div class="modal-dialog">
                  <div class="modal-content">

                   <!--Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title text-center">Mettre à jour un niveau</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <div class="row add-form">
                        <div class="form-group">
                          <form class="form-group">
                            <div class="form-group row">
                              <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <mat-label>Niveau : </mat-label>
                                <input name="libniveau" matInput [(ngModel)]="updateNiveau.libelle" />
                              </mat-form-field>
                            </div>
                            <div class="form-group row">
                              <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <mat-label>Montant Inscription : </mat-label>
                                <input name="Montant" matInput [(ngModel)]="updateNiveau.montantInscription" />
                              </mat-form-field>
                            </div>

                            <div class="form-group row">
                              <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <mat-label>Montant Mensuel : </mat-label>
                                <input name="Mensuel" matInput [(ngModel)]="updateNiveau.montantMensuel" />
                              </mat-form-field>
                            </div>

                            <div class="form-group row">
                              <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <mat-label>Cycle : </mat-label>
                                <input name="cyclelibelle" matInput [(ngModel)]="cycle.libelle" />
                              </mat-form-field>
                            </div>

                            <div class="form-group row">
                              <button data-dismiss="modal" mat-raised-button color="primary" class="pull-right" (click)="update()">Enregistrer</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              &nbsp;&nbsp;&nbsp;<button mat-raised-button color="warn"  (click)="onDelete(n)"><i class="fa fa-remove"></i>&nbsp;Supprimer</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</section>

